<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-wrap">COVID-19 Questionaire</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]=true [scrollEvents]=true >
  <div *ngIf="information">
    <ion-spinner></ion-spinner>
  </div>
  <ion-card>
    <ion-card-header>
      Employee Details
    </ion-card-header>
    <ion-card-content>

      <ion-item><ion-label>Full Name:</ion-label><ion-label class="ion-text-wrap">{{information.name}} {{information.surname}}</ion-label></ion-item>

      <ion-item><ion-label>Email:</ion-label><ion-label class="ion-text-wrap">{{information.email}}</ion-label></ion-item>
      <ion-item><ion-label>Phone:</ion-label><ion-label class="ion-text-wrap">{{information.cellNo}}</ion-label></ion-item>
    </ion-card-content>
  </ion-card>
<ion-card>
  <ion-card-header>
    COVID-19 Questionaire
  </ion-card-header>
<ion-card-content>
  <form>
    <ion-item>
      <ion-label>Are you coughing?</ion-label>
    </ion-item>
    <ion-item>
      <ion-toggle color="danger" checked ></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Are you sneezing?</ion-label>
       </ion-item>
       <ion-item>
        <ion-toggle color="danger" checked></ion-toggle>
       </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">Do you have a fever?</ion-label>
    </ion-item>
    <ion-item>
      <ion-toggle color="danger" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">Is your throat sore?</ion-label>
      </ion-item>
      <ion-item>
        <ion-toggle color="danger" checked></ion-toggle>
      </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Do you have any body pains?</ion-label>
      </ion-item>
      <ion-item>
        <ion-toggle color="danger" checked></ion-toggle>
      </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Are you feeling tired?</ion-label>
       </ion-item>
       <ion-item>
        <ion-toggle color="danger" checked></ion-toggle>
       </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Do you have diarhea?</ion-label>
    </ion-item>
    <ion-item>
      <ion-toggle color="danger" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Shortness of breath?</ion-label>
      </ion-item>
      <ion-item>
        <ion-toggle color="danger" checked></ion-toggle>
      </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Experiencing any chest pains?</ion-label>
      </ion-item>
      <ion-item>
        <ion-toggle color="danger" checked></ion-toggle>
      </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Do you have prolonged skin irritation or Rash?</ion-label>
    </ion-item>
    <ion-item>
      <ion-toggle color="danger" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Blocked or Runny nose?</ion-label>
          </ion-item>
          <ion-item>
            <ion-toggle color="danger" checked></ion-toggle>
          </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Discouloration of fingers and toes?</ion-label>
    </ion-item>
    <ion-item>
      <ion-toggle color="danger" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Do you have Conjuctivitis(Pink eye)?</ion-label>
         </ion-item>
         <ion-item>
          <ion-toggle color="danger" checked></ion-toggle>
         </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">Do you have a headache?</ion-label>
    </ion-item>
    <ion-item>
      <ion-toggle color="danger" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">In the past 14 days were you incontact with an covid-19 positive persons?</ion-label>
         </ion-item>
         <ion-item>
          <ion-toggle color="danger" checked></ion-toggle>
         </ion-item>
       <ion-item><ion-label class="ion-text-wrap">if you ticked yes any where, please leave a comment:</ion-label></ion-item>

        <ion-item>
        <ion-input type="textarea"></ion-input>
      </ion-item>
      <ion-item button type="submit" color="success" [routerLink]="['/qrcode']" >Submit </ion-item>

  </form>
</ion-card-content>
</ion-card>
</ion-content>
