<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    COVID-19 Questionaire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <form  method="get"  >
    <ion-card>
      <ion-card-header>
        Employee details
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label for="userName">Username:</ion-label>
          </ion-item>
          <ion-item>

            <ion-input type="text" id="userName" name="userName" [(ngModel)]="userName" placeholder="enter email or username" ></ion-input>
          </ion-item>
          <ion-item><ion-label>Card number:</ion-label></ion-item>
          <ion-item>
              <ion-input type="text" id="cardNumber" name="cardNumber" [(ngModel)]="tag" placeholder="enter your card number, 5 digit on you cdc card"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-button type="submit" expand="Full" [routerLink]="['/questions']"> submit

      </ion-button>
    </ion-card>
  </form>
   </div>

</ion-content>
